<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body class="container">
    <div class="single-user">
        <h2 class="single-user-name"><%= user.name %></h2>
        <h2 class="single-user-email"><%= user.email %></h2>
        <h2 class="single-user-age"><span>age: </span><%= user.age %></h2>
        <a class="single-user-btn btn" href="/users">back</a>

    </div>
</body>
</html>